@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss';

@theme {
  --font-roboto: 'Roboto', sans-serif;
}

html,
body {
  color: #121217;
  font-family: var(--font-roboto);
  /* font-family: 'Noto Sans', sans-serif; */
}

/* html,
body {
  background-color: var(--color-gray-100);
}

:root:root {
  --adm-font-size-main: var(--text-base);
  --adm-color-primary: var(--color-indigo-500);
} */

/* 边框流光效果 */
.border-loading {
  background-image: conic-gradient(
    from var(--border-angle) at 50% 50%,
    #0084ff 0%,
    #00e1ff 25%,
    #f14cff 50%,
    #0084ff 100%
  );
  animation: border-loading-animation 3s linear infinite 0ms;
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}

@keyframes border-loading-animation {
  0% {
    --border-angle: 0turn;
  }
  100% {
    --border-angle: 1turn;
  }
}
