@import url('https://fonts.font.im/css?family=Roboto?family=Roboto&display=swap');
@import 'tailwindcss';

@theme {
  --global-bg-color: var(--color-gray-100);
  --global-bg-soft-color: var(--color-white);
  --global-font-color: #121217;
  --font-roboto: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    --global-bg-color: var(--color-zinc-950);
    --global-bg-soft-color: var(--color-zinc-900);
    --global-font-color: var(--color-white);
  }
}

html,
body {
  font-family: 'Roboto', 'PingFang SC', sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none; /* 禁用弹性滚动和滚动链 */
  text-rendering: optimizeLegibility; /* 优化字体渲染 */
  color: var(--global-font-color);
  background-color: var(--global-bg-color);
}

.global-bg-color {
  background-color: var(--global-bg-color);
}

.global-bg-soft-color {
  background-color: var(--global-bg-soft-color);
}

/* 边框流光效果 */
.border-loading {
  background-image: conic-gradient(
    from var(--border-angle) at 50% 50%,
    #0084ff 0%,
    #00e1ff 25%,
    #f14cff 50%,
    #0084ff 100%
  );
  animation: border-loading-animation 3s linear infinite 0ms;
}

.pulse-animation {
  animation: pulse-once 1.5s ease-in-out 1;
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}

@keyframes border-loading-animation {
  0% {
    --border-angle: 0turn;
  }
  100% {
    --border-angle: 1turn;
  }
}

@keyframes pulse-once {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
